<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/biodiv</property>
		<property name="connection.username">biodiv</property>
		<property name="connection.password">biodiv</property>

		<!-- JDBC connection pool (use the built-in) -->
		<!--property name="connection.pool_size">1</property-->

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.dialect"> org.hibernate.spatial.dialect.postgis.PostgisDialect</property>
		
		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
        
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
        <property name="hibernate.c3p0.preferredTestQuery">SELECT 1</property>
        <property name="hibernate.c3p0.numHelperThreads">5</property>
        <property name="hibernate.c3p0.unreturnedConnectionTimeout">90</property>
        <property name="hibernate.c3p0.maxConnectionAge">1800</property>
        <property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.id.new_generator_mappings">true</property>

		<!-- Mappings -->
		<!-- mapping package="biodiv"/ -->
		<mapping class="biodiv.common.ExternalLinks" />
		<mapping class="biodiv.common.Habitat" />
		<mapping class="biodiv.common.Language" />
		<mapping class="biodiv.common.License" />
		<mapping class="biodiv.common.SpeciesGroup" />
		<mapping class="biodiv.common.Ufile" />		
		<mapping class="biodiv.common.eml.Contact" />
		<mapping class="biodiv.dataset.Dataset" />
		<mapping class="biodiv.dataset.Datasource" />
		<mapping class="biodiv.observation.Annotation" />
		<mapping class="biodiv.observation.Observation" />
		<mapping class="biodiv.observation.Recommendation" />
		<mapping class="biodiv.observation.RecommendationVote" />
		<mapping class="biodiv.resource.Resource" />
		<mapping class="biodiv.taxon.datamodel.dao.Taxon" />
	 	<mapping class="biodiv.taxon.datamodel.dao.TaxonomyRegistry" />
		<mapping class="biodiv.taxon.datamodel.dao.Classification" />
		<mapping class="biodiv.taxon.datamodel.dao.ExternalLinks" />
		<mapping class="biodiv.taxon.datamodel.dao.AcceptedSynonyms" />
		
		<mapping class="biodiv.user.User" />
		<mapping class="biodiv.user.Role" />
		<mapping class="biodiv.userGroup.UserGroup" />
		<mapping class="biodiv.auth.token.Token" />
	</session-factory>

</hibernate-configuration>
